* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

/* Slider */

.slider {
  position: relative;
  height: 706px;
}

.slide {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 2s;
}

.slide.active {
  animation: anima-1 1.5s ease-in-out;
  z-index: 99;
}

.slide.active:nth-child(2) {
  animation: anima-2 1.5s ease-in-out;
}

.slide.active:nth-child(3) {
  animation: anima-3 1.5s ease-in-out;
}

.content {
  position: absolute;
  z-index: 999;
  top: 25%;
  left: 5%;
  color: #fff;
  font-family: Karla;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 2px;
  opacity: 0;
}

.slide-1.active .content {
  animation: anima-3 1s ease-in-out;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;  /* giữ lại */
}

.slide-2.active .content {
  animation: anima-1 1s ease-in-out;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.slide-3.active .content {
  animation: anima-2 1s ease-in-out;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes anima-1 {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes anima-2 {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes anima-3 {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.content-2 {
  position: relative;
  margin:0 90px 0 20px;
}

.content-2::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 68px;
  height: 5px;
  background-color: #ff5ee1;
  content: " ";
}

.content-3 {
  position: relative;
}

.content-3::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  max-width: 600px;
  letter-spacing: 2px;
  content: "A full-service create agency.";
}

/* Play video */
.video-play {
  position: absolute;
  z-index: 999;
  bottom: 12.5%;
  right: 10%;
  width: 245px;
  height: 110px;
  line-height: 110px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  opacity: 0;
}

.slide.active .video-play {
  animation: animaPlay 1s ease-in-out;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
}

@keyframes animaPlay {
  0% {
    opacity: 0;
    transform: translateX(10%);
  } 
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.video-link {
  position: relative;
  padding-left: 15px;
  cursor: pointer;
}

.video-link::before {
  position: absolute;
  background-color: #ff5ee1;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  content: " ";
  box-shadow: 5px 5px 40px 30px rgba(0, 0, 0, 0.2),
  inset -30px -40px 40px 30px rgba(0, 0, 0, 0.4);
  transition: all 0.8s ease-in-out;
}

.video-link::after {
  position: absolute;
  top: 0;
  right: -70px;    /*110/2+padding:15*/
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 24px solid #fff;
  content: " ";
}

.video-link:hover::before {
  transform: scale(1.1);
}

/* Scroll mouse */
.scroll-mouse {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 999;
  bottom: 17%;
  left: 10%;
  width: 172px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  opacity: 0;
}

.slide.active .scroll-mouse {
  animation: animaScroll 1s ease-in-out;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes animaScroll {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  } 
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.scroll-mouse .icon {
  display: inline-block;
}

/* Dots */

.dots {
  width: 200px;
  position: absolute;
  z-index: 999;
  left: 50%;
  bottom: 15%;
  transform: translateX(-50%);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.dot {
  display: inline-block;
  position: relative;
  margin: 20px;
  cursor: pointer;
}

.dot::before {
  position: absolute;
  bottom: -8px;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  content: " ";
  transition: all 0.3s;
}

.dot.active::before,
.dot:hover::before {
  left: 0;
  width: 100%;
}

/* Video Popup */

#popup-video #overlay {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: none;
  transform: scale(0);
  animation: animaPopup 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

#popup-video #video {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
  height: 70%;
  display: none;
  animation: animaVideo 0.5s ease-in-out;
  opacity: 0;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes animaPopup {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes animaVideo {
  100% {
    opacity: 1;
  }
}

#close {
  display: inline-block;
  position: absolute;
  z-index: 9999;
  top: 5%;
  right: 5%;
  color: #fff;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  display: none;
}

/* Option */

.option-tools {
  position: fixed;
  z-index: 99;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
  width: 40px;
  height: 162px;
  border-radius: 5px 0 0 5px;
  background-color: #fff;
  transition: all 0.3s;
  cursor: pointer;
}

.option-tools.active {
  right: 26%;
}

.tool {
  position: relative;
  width: 40px;
  height: 40px;
  transform: all 0.3s;
}

.tool .tool-icon {
  width: 25px;
  height: 25px;
  margin: 3px auto;
  transition: all 0.3s;
}

.tool:hover .tool-icon {
  transform: scale(1.1);
}

.tool .text {
  position: absolute;
  left: -300%;
  top: 0;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #000;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #fff;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.5s;
  cursor: text;
}

.tool .text::before {
  position: absolute;
  top: 50%;
  right: -8px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #000;
  content: " ";
  transition: all 0.5s;
  opacity: 0;
}

.tool:hover .text {
  left: -320%;
  opacity: 1;
}

.tool:hover .text::before {
  opacity: 1;
}

.option-table {
  position: fixed;
  z-index: 999;
  top: 0;
  right: -25%;
  width: 25%;
  height: 100%;
  background-color: #fff;
  overflow-y: visible;
  transition: all 0.3s;
}

.option-table.active {
  right: 1%;
}

/* Mouse Move */
.mouse-move {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display:  none;
}

.slide.active .mouse-move {
  display: block;
}

.slide.active .mouse-move .img-move-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 600px;
  opacity: 0;
  animation: mouseMove 1s ease-in-out;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

.slide.active .mouse-move .img-move-2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 400px;
  opacity: 0;
  animation: mouseMove 1s ease-in-out;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;
}

.slide.active .mouse-move .img-move-3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
  height: 600px;
  opacity: 0;
  animation: mouseMove 1s ease-in-out;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

.slide.active .mouse-move .img-move-4 {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 400px;
  height: 400px;
  opacity: 0;
  animation: mouseMove 1s ease-in-out;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;
}

@keyframes mouseMove {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
